<div class = "inset">


	<div class="change-devoure" data-id="{{id}}" data-newdevoure="{{devoure}}">{{id}}. {{burger_name}}{{#if devoure}}{{else}}<button class = "devButton">Devoure it!</button>{{/if}}
	</div>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}

</div>

