<div>
	{{name}}

	<button class="change-devoure" data-id="{{id}}" data-newdevoure="{{devoure}}">
        {{#if devoure}}{{burger_name}}{{else}}Devoure Me{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}

</div>

